@import "react-toastify/dist/ReactToastify.css";
@import 'react-modal-video/css/modal-video.css';
@import "swiper/css/bundle";

@import "../../public/assets/css/animate.min.css";
@import "../../public/assets/css/bootstrap.min.css";
@import "../../public/assets/css/default.css";
@import "../../public/assets/css/flatpicker.css";
@import "../../public/assets/css/fontawesome-all.min.css";


.homeone-header-p{
  padding: 12px;
}

.home-banner-mukul{
 height: 52rem;
}

.text-left{
  text-align: left;
}
.locationp-mar-m{
  margin-top :12rem
}
.rounded-15{
  border-radius: 15px;
}