@import "react-toastify/dist/ReactToastify.css";
@import 'react-modal-video/css/modal-video.css';
@import "swiper/css/bundle";

@import "../../public/assets/css/animate.min.css";
@import "../../public/assets/css/bootstrap.min.css";
@import "../../public/assets/css/default.css";
@import "../../public/assets/css/flatpicker.css";
@import "../../public/assets/css/fontawesome-all.min.css";
@import "../../public/assets/css/main.css"; /* ← You should import this too */



.homeone-header-p{
  padding: 12px;
}

.home-banner-mukul{
 height: 52rem;
}

.text-left{
  text-align: left;
}
.locationp-mar-m{
  margin-top :12rem
}
.rounded-15{
  border-radius: 15px;
}
.ctaTow-home-mukul{
  margin-top: 11px !important;
  padding: 163px 0 69px 0;
}

.cardsection-button-mukul{
  width: 12rem;
  border-radius: 15px;
}

.location-based-mukul{
  position: relative;
    top: -16px;
    background: #0a6a67 !important;
    color: white !important;
    width: 10rem;
    padding: 7px !important;
}


.tg-listing-card-review-mukul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tg-listing-card-review-mukul .rating-group {
  display: flex;
  align-items: center;
  gap: 4px;
}
.tg-listing-card-price-wrap-mukul, .price-bg{
  background-image: none;
  background: #0A6A67;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0px 0px 0px 12px;
    width: 320px;
}

.tg-listing-card-price-wrap-mukul{
height: 50px;
    padding: 5px 29px 5px 23px;
}
.tg-listing-card-price-mukul{
border: 1px solid #0A6A67;
border-radius: 0 0 12px 12px;
}
.tg-listing-card-review-mukul{
 padding: 10px 21px 10px 17px;
}
.tg-listing-rating-icon-mukul{
  color:  #0A6A67;
    font-size: 20px;
}

.mukulsharma{
  width: 284px !important;
  min-height: 540px !important;
}

.card-purpose{
  border-radius: 12px 12px 12px 12px;
}
.tg-location-su-slider-navigation1 button {
    width: 45px;
    height: 45px;
    line-height: 42px;
    border-radius: 56px;
    background: rgb(241, 241, 241);
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
}
.tg-listing-5-slide-prev1{
  position: relative;
    top: 19rem;
    left: -5rem;
}

.tg-listing-5-slide-next1{
  position: relative;
    right: -4rem;
    top: 19rem;
}

.tg-tour-about-sidebar-ms{
  border: 1px solid #e9e9e9;
    border-radius: 12px;
    box-shadow: 0 0 15px 0 #efefef;
    background: var(--tg-common-white);
    padding: 0px 0px 0px 0px !important;
    margin-left: -30px;
}

.Review-according-ms{
  width: 43rem;
  padding-top: 15px;
}

.Review-according-ms .review-progress{
  padding-right: 20px;
}
/* .tg-tour-about-cus-review-thumb-ms span::after{
  content: 0;
} */

.tg-tour-about-cus-review-thumb-ms {
  width: 140px;
    height: 51px;
    border-radius: 50%;
    border: 2px solid #0a6a63;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    background: #fff;
    margin: 0 10px 0 0;
    color: #0a6a63;       /* text color */
}